.container-fluid{
    background-image: url("../../assets/brian-mcgowan-itRfuFf1gdY-unsplash.jpg");
    background-repeat: no-repeat;
    background-blend-mode: normal;
  
    background-size: cover;
    background-position: top;
    height: 100vh;
    color: blue;
  
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .login-form{
    width: 200px;
    height: 300px;
    margin-top: 5%;
    background-color: rgba($color: whitesmoke, $alpha: .70);
    color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10%;
  }


  
  .center-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-width: 100px;
      max-width: 120px;
      width: 100%;
      padding-top: 5%;
    }
    
    .center-full-width {
      width: 100%;
    }
    
    .mat-display-1{
      margin: 0 0 10px;
    }