.container{
    width: 100%;
   // padding: 50px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.menu{
    position: fixed;
    top: 50px;
    left: 5%;
}

.tabela {
    position: static;
    width: 80%;
    margin: auto;
    margin-top: 100px;
  }

.mat-form-field{
      width: 50%;
      margin: auto;
}

table{
    width: 100%;
}

.mat-cell:hover {
    cursor: pointer;
}

th.mat-sort-header-sorted {
color: black;
}
  


.mat-form-field ~ .mat-form-field{
    margin-left: 20px;
}