<h1 mat-dialog-title>Player: {{data.id}}</h1>
<div class="nickimage">
  <!--  <img [src]="data.nickname" alt="nickname"> -->
  <app-load-image (imageB64)="receiveImage($event)"></app-load-image>
  <img [src]="data.nikname" alt="" height="60">
</div>
<div mat-dialog-content>
  <p>Editar dados</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.name" placeholder="Nome">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="data.telm" placeholder="Telemovel">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="data.email" placeholder="Email">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="data.birthyear" placeholder="Ano Nascimento">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Guilda</mat-label>
    <mat-select [(ngModel)]="data.guilda">
      <mat-option *ngFor="let g of guildas" [value]="g.id">
        {{g.nome}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="data.txdeath" placeholder="Tx Morte/Abate">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="data.txheadshot" placeholder="Tx Tiros Cabeça">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="data.honra" placeholder="Honra Anterior">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="data.honraatual" placeholder="Honra Atual">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="data.linkface" placeholder="Link do Facebook">
  </mat-form-field>
  <mat-form-field *ngIf="data.id>0">
    <input matInput [ngModel]="data.date" placeholder="Data de Registo">
  </mat-form-field>
  <mat-form-field *ngIf="data.id>0">
    <input matInput [ngModel]="data.updata" placeholder="Ultima Atualização">
  </mat-form-field>

  <mat-checkbox  matInput #ative="ngModel" name="ative" [(ngModel)]="data.ative" :after>Ativo</mat-checkbox>



</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Guardar</button>
</div>