<div class="container">
    <header style="width: 80%; margin: auto; margin-top:20px; text-align: center;">
        <h2 style="display: inline; ">Centro de emails</h2>
        <a style="float: right;" mat-mini-fab href="" color="primary" routerLink="/admin">
            <mat-icon>close</mat-icon>
        </a>
    </header>

    <section class="tabela">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!-- Data envio Column -->
            <ng-container matColumnDef="dataenvio">
                <th mat-header-cell *matHeaderCellDef> Data de Envio </th>
                <td mat-cell *matCellDef="let element"> {{element.dataenvio}} </td>
            </ng-container>

            <!-- Assunto Column -->
            <ng-container matColumnDef="assunto">
                <th mat-header-cell *matHeaderCellDef> Assunto </th>
                <td mat-cell *matCellDef="let element"> {{element.assunto}} </td>
            </ng-container>

            <!-- Corpo do email Column -->
            <ng-container matColumnDef="corpoemail">
                <th mat-header-cell *matHeaderCellDef> Texto do email </th>
                <td mat-cell *matCellDef="let element"> {{element.corpoemail}} </td>
            </ng-container>

            <!-- Guildas Column -->
            <ng-container matColumnDef="guilda">
                <th mat-header-cell *matHeaderCellDef> Guildas </th>
                <td mat-cell *matCellDef="let element"> {{element.guilda}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

    </section>

</div>